 
        #zuida{
             width:100%;
        }
        #zhongjian{
            width:1366px; 
        }
        #zuo{
        	float: left;
        	width:75%;
        	border: 1px solid black;
        	border-right: 1px solid black;
        	//opacity:0.9;  
        	background:White;
        }
        #you{
      	  float: left;width:25%;
      	  
      	  height:100%;
      	}
      	#pin{
      		//opacity:0.9;
      	  background:White;
      	  height:180px;
      	  //margin-top:-19px;
      	}
      	.pname{
      	  margin-left:80px;
      	}
      	.ptext{
				  margin-left:150px;
      	}
      	.pday{
					 	 margin-left:620px;
      	} 
      	.plhr{
      	  width:90%;
      	}  
      	.wypl{
      	  margin-right:57px;	
      	}
      	.posthr{ height:1px;border:none;border-top:1px solid #555555;}
      	
        .showpost:hover{ 
        	cursor:pointer;  
        } 
         body {background-image:url('../images/bgshow.jpg'); background-size:100%;  background-position: center; background-repeat:no-repeat ; background-attachment:fixed}
 				
 				#zhengwen{
 				 	//opacity:0.9;
 				 	
 				}
 				
 				
        